extends directionslayout

block vars 
  -var title = "Directions";

block content
  h1(id='location') Locations

  div(class="dirBody")
    div(id='address') 
      h3 Utah Branch:
      p 143 Main St. Salt Lake City, UT 84111
      img(src="/images/proper-burgers.jpeg" height="300" width="450" id='directionsImg')

    div(id='map')
      iframe(width="400" height="400" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ4d6-CDaGUocR1pyj-jDjTZg&key=AIzaSyAU5fXrGkhvX8V2bCusMYcZ8zfxcn88VQo" allowfullscree)

  
  //AIzaSyAU5fXrGkhvX8V2bCusMYcZ8zfxcn88VQo
  //Google Maps API key
