extends directionslayout

block vars 
  -var title = "Directions";

block content
  p Express Burgers
  | 6593 Collins Dr, 
  | Moorpark, CA 93021

  //AIzaSyAU5fXrGkhvX8V2bCusMYcZ8zfxcn88VQo
  //Google Maps API key
  // <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAU5fXrGkhvX8V2bCusMYcZ8zfxcn88VQo&callback=initMap"
  //type="text/javascript"></script>
