doctype html
html
    head

    body
        h3 Google Maps
        iframe(width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Burger%20Express%206593%20Collins%20Dr%2C%20Moorpark%2C%20CA%2093021&key=AIzaSyAU5fXrGkhvX8V2bCusMYcZ8zfxcn88VQo" allowfullscreen)
        //div(id="map")
        //script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAU5fXrGkhvX8V2bCusMYcZ8zfxcn88VQo&callback=initMap")
        //script(src="scripts/maps.js")