extends layout

block vars 
  //- -var title = "Home";



block content
  div(class="homeBody")
    img(src="images/front.png" id='frontImg')
    div(class="menuBtn")
      a(href="menu" id="menuLink")
        h4 Explore Menu