extends layout

block content
    div(class="menuBody")
        div(class="menuBox")
            a(href="burgers")
                img(src="images/burgers.jpeg" class="menuImg")
                h2(class="menuFont") Burgers
        div(class="menuBox")
            a(href="sides")   
                img(src="images/sides.jpg" class="menuImg")
                h2(class="menuFont") Sides
        div(class="menuBox")
            a(href="desserts")
                img(src="images/desserts.jpg" class="menuImg")
                h2(class="menuFont") Desserts



        