/* 
https://color.adobe.com/Bobs-Burgers-color-theme-5833993/edit/?copy=true&base=2&rule=Custom&selected=4&name=Copy%20of%20Bobs%20Burgers&mode=rgb&rgbvalues=0.458824,0.611765,0.737255,0.372549,0.411765,0.498039,0.996078,0.905882,0.427451,0.901961,0.490196,0.313726,0.105882,0.0862745,0.0941176&swatchOrder=0,1,2,3,4
#759CBC - blue
#5F697F - dark blue
#FEE76D - yellow
#E67D50 - orange
#1B1618 - black
 */

 body {
   background-color: pink;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

 @font-face {
  font-family: BB;
  src: url(/fonts/BB.ttf);
}

.foodbox{
  display:inline-block;
  margin:20px;
}

.foodpics{
  width:250px;
  height:250px;
}