/* 
https://color.adobe.com/Bobs-Burgers-color-theme-5833993/edit/?copy=true&base=2&rule=Custom&selected=4&name=Copy%20of%20Bobs%20Burgers&mode=rgb&rgbvalues=0.458824,0.611765,0.737255,0.372549,0.411765,0.498039,0.996078,0.905882,0.427451,0.901961,0.490196,0.313726,0.105882,0.0862745,0.0941176&swatchOrder=0,1,2,3,4
#759CBC - blue
#5F697F - dark blue
#FEE76D - yellow
#E67D50 - orange
#1B1618 - black
#D94B4A - red
 */

html {
  background-color: #fff;
  color: #5F697F;
}

 body {
   background-color: #fff;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

 header {
   background-color: #FEE76D;
 }

 @font-face {
  font-family: BB;
  src: url(/fonts/BB.ttf);
}

h1 {
  font-family: BB;
  color: #1B1618;
  font-size: 3em;
}

#heading {
  padding: 20px;
}

nav {
  background-color: #fff;
  color: #E67D50;
  width: auto;
}

nav a {
    text-decoration: none;
    color: #E67D50;
    font-size: 20px;
    /* padding: 15px; */
    display:inline-block;
}

#homeLink {
  padding-left: 15px;
  padding-right: 15px;
}

#directionLink {
  padding-right: 15px;
}

ul {
  display: inline;
  margin: 0;
  padding: 0;
}

ul li {
  display: inline-block;
}

ul li:hover {
  color: #FFA277;
}

ul li:hover ul {
  display: block;
}

ul li ul {
  background-color: #fff;  
  position: absolute;
  width: 120px;
  display: none;
}

ul li ul li {
  text-align: left; 
  background-color: #fff;
  color: #E67D50; 
  display: block; 
  padding: 10px;  
}

ul li ul li a {
  text-align: left;   
  display:block !important;
  padding: 10px;
}

#menuLink {  
  padding-bottom: none;  
}

#burgerLink {
  padding: none;
}

ul li ul li:hover {
  color: #FFA277;
}

p {
  padding: 20px;
}

.foodbox {
  display:inline-block;
  margin:20px;
}

.foodpics {
  width:250px;
  height:250px;
}

.hoverbox {
  display: none;
  /* width: auto; */
  height: auto;
    position: absolute;
    /* top: 50%;
    left: 50%; */
    /* margin: -50px 0 0 -100px; */
  text-align: left;
  background-color: #fff;
  border: 5px solid #5F697F;
  margin: auto;
  width: 300px;
  padding: 10px;
}

a:hover .hoverbox {
  display: inline-block;
}

.foodlinks:link {
  text-decoration: none;
  color: #5F697F;
}

.foodlinks:visited {
  text-decoration: none;
  color: #5F697F;
}

.foodlinks:hover {
  text-decoration: none;
  color: #5F697F;
}

.foodlinks:active {
  text-decoration: none;
  color: #5F697F;
}

#container {
  width: 700px;
  padding: 30px;
  margin: auto;
}

.heading {
  padding: 20px;
  background-color: #FEE76D;
}