/* 
https://color.adobe.com/Bobs-Burgers-color-theme-5833993/edit/?copy=true&base=2&rule=Custom&selected=4&name=Copy%20of%20Bobs%20Burgers&mode=rgb&rgbvalues=0.458824,0.611765,0.737255,0.372549,0.411765,0.498039,0.996078,0.905882,0.427451,0.901961,0.490196,0.313726,0.105882,0.0862745,0.0941176&swatchOrder=0,1,2,3,4
#759CBC - blue
#5F697F - dark blue
#FEE76D - yellow
#E67D50 - orange
#1B1618 - black
#D94B4A - red
 */

html {
  background-color: #fff;
  color: #5F697F;
}

 body {
   background-color: #fff;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   margin:0;
 }

 #frontImg{
   height:60%;
   width:100%;
 }

 @font-face {
  font-family: BB;
  src: url(/fonts/BB.ttf);
}

@font-face {
  font-family: BB2;
  src: url(/fonts/BB2.ttf);
}

h1 {
  font-family: BB;
  color: #1B1618;
  font-size: 5em;
  text-align: center;
}

#heading {
  margin:0;
  padding:0;
}

@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.swing:hover {
  -webkit-animation: swing 1s ease;
  animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

nav {
  background-color: #759CBC;
  width: 100%;
  margin:0px;
  overflow:hidden;
}

nav a {
    text-decoration: none;
    color: #f2f2f2;
    font-size: 28px;
    padding: 15px;
    display:inline-block;
}

#homeLink {
  padding-left: 15px;
  padding-right: 15px;
}

#directionLink {
  padding-right: 15px;
}

ul {
  display: inline;
  margin: 0;
  padding: 0;
}

ul li {
  display: inline-block;
}

#homeLink li, #directionLink li{
  -webkit-transition: all 500ms;    
  
}

#homeLink li:hover, #directionLink li:hover{
  color: #E67D50;
  font-size:34px;
  font-size-adjust: 18px; 
}

ul li:hover ul {
  display: block;
}

ul li ul {
  z-index:1000;
  background-color: rgba(107, 142, 170, 0.952);  
  position: absolute;
  width: 130px;
  height:auto;
  display: none;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.7);

}

ul li ul li {
  text-align: left; 
  font-size:20px;
  color: #f2f2f2; 
  display: block; 
  padding: 5px;  
}

ul li ul li a {
  text-align: left; 
  display:block !important;
  padding: 10px;
}

#menuLink {  
  padding-bottom: none;  
}

#burgerLink {
  padding: none;
}

ul li ul li:hover {
  color: #E67D50;
  -webkit-transition: all 200ms ease-in-out;
  -webkit-transform: scale(1.1);
}

p {
  padding: 20px;
}

.foodbox {
  display:inline-block;
  margin:20px;
}

.foodbox h3 {
  font-size: 0.9em;
}

.foodpics {
  width:250px;
  height:250px;
}

.foodpics:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.hoverbox {
  display: none;
  /* width: auto; */
  height: auto;
    position: absolute;
    /* top: 50%;
    left: 50%; */
    /* margin: -50px 0 0 -100px; */
  text-align: left;
  background-color: #fff;
  border: 5px solid #5F697F;
  margin: auto;
  width: 200px;
  padding: 10px;
  font-size: 0.8em;
}

a:hover .hoverbox {
  display: inline-block;
}

.foodlinks:link {
  text-decoration: none;
  color: #5F697F;
}

.foodlinks:visited {
  text-decoration: none;
  color: #5F697F;
}

.foodlinks:hover {
  text-decoration: none;
  color: #5F697F;
}

.foodlinks:active {
  text-decoration: none;
  color: #5F697F;
}

#container {
  width: 980px;
  padding: 30px;
  margin: auto;
  margin-left: 270px;
}

footer{
  background-color:rgba(107, 142, 170, 0.952); 
  color:#f2f2f2;
  font-size:12px;
  margin:0px;
  padding:8px;
  text-align: center;
  font-family: BB2;
  font-size: 1.5em;
  letter-spacing: 3px;
}

.homeBody{
  background-color:rgba(107, 142, 170, 0.952);
}

.menuBtn{
  position:fixed;
  z-index:1;
  /* top:45%;
  left:60%; */
  top:45%;
  right:20%;
  
}

.menuBtn a{

  text-decoration:none;

}

.menuBtn h4:hover{
background-color:#E67D50;
-webkit-transform: scale(1.1);
}

.menuBtn h4{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size:32px;
  color:#f2f2f2;
  background:#759CBC;
  border-radius:10px;
  padding:10px;
  border:2px solid #f2f2f2;
  -webkit-transition: all 500ms;      
}

.menuBody{
margin:0 0 0 10%;
}

.menuBox{
  text-align:center;
  display:inline-block;
  margin:5%;
}

.menuImg{
  width:250px;
  height:350px;
  border-radius:40px;
  border: 5px solid #759CBC;
  -webkit-transition: all 500ms; 
  opacity:0.8;     
}

.menuImg:hover{
  -webkit-transform: scale(1.1);
  border: 5px solid #E67D50;
  opacity:1;
}

.menuBox h2{
  -webkit-transition: all 500ms;   
  font-family:BB;
  font-size:50px;
  margin:2% 0 0 0;
}
.menuBox a{
  text-decoration:none;
}

.menuBox a:visited{
  color:#5F697F;
}

.menuBox a:hover{
  color:#E67D50;
}
